# Connect to DataBase

In [1]:
# Import libraries of interest 
import pandas as pd
import numpy as np 
import numpy.random as rand
import mysql.connector
import random
import math
import pymysql
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
# Enter your password...
password = 'Baseball5757'

In [3]:
# For using pd.read_sql
connection = pymysql.connect(
        host = '127.0.0.1',
        port =  3306,
        user = 'root',
        password = password,
        database = 'cville_climbs'
    )
cnx = create_engine('mysql+pymysql://root:'+password+'@localhost:3306/cville_climbs')

In [4]:
# Connect to SQL database on your computer for writing to SQL
conn = mysql.connector.connect(user='root', password=password, host='127.0.0.1', database='cville_climbs')
cursor = conn.cursor() # Enable access to mySQL

# Create Tables

In [84]:
# Remove all tables from database 
destroy_tables = '''
DROP TABLE IF EXISTS 
route, location, log, route_setting, person, route_setter, admin, climber 
'''
cursor.execute(destroy_tables)
conn.commit()

In [85]:
# Create location table 
create_location = '''
CREATE TABLE location 
(location_id INT NOT NULL AUTO_INCREMENT,
 latitude DECIMAL(10,8) NOT NULL,
 longitude DECIMAL(10,8) NOT NULL, 
 name VARCHAR(64) NOT NULL,
 entrance_city VARCHAR(255),
 entrance_zip VARCHAR(255),
 entrance_address VARCHAR(255),
 num_routes INT NOT NULL,
 PRIMARY KEY (location_id),
 CONSTRAINT Check_Location CHECK (-180<longitude AND longitude<180 AND -90<latitude AND latitude<90)
 )
'''
cursor.execute(create_location)
conn.commit()


# Create person table 
create_person = '''
CREATE TABLE person
(person_id INT NOT NULL AUTO_INCREMENT,
 f_name VARCHAR(32) NOT NULL,
 l_name VARCHAR(32) NOT NULL,
 initial VARCHAR(2) NOT NULL, 
 email VARCHAR(64) NOT NULL,
 phone BIGINT(10) NOT NULL,
 PRIMARY KEY (person_id))
'''
cursor.execute(create_person)
conn.commit()


# Create route table
create_route = '''
CREATE TABLE route 
(route_id INT NOT NULL AUTO_INCREMENT, 
 name VARCHAR(64) NOT NULL, 
 difficulty DECIMAL(10,8) NOT NULL,
 rating DECIMAL,
 type enum('indoor','outdoor') NOT NULL,
 location_id INT NOT NULL,
 PRIMARY KEY (route_id),
 FOREIGN KEY (location_id) REFERENCES location (location_id), 
 CONSTRAINT check_rating CHECK (rating>=0 AND rating<=10),
 CONSTRAINT check_difficulty CHECK (difficulty>=0 AND difficulty<=6))
'''
cursor.execute(create_route)
conn.commit()


# Create log table 
create_log = '''
CREATE TABLE log 
(log_id INT NOT NULL AUTO_INCREMENT, 
 person_id INT NOT NULL, 
 comment LONGTEXT NOT NULL,
 route_beta LONGTEXT,
 route_id INT NOT NULL,
 PRIMARY KEY (log_id),
 FOREIGN KEY (route_id) REFERENCES route(route_id),
 FOREIGN KEY (person_id) REFERENCES person(person_id))
'''
cursor.execute(create_log)
conn.commit()


# Create route_setting table 
create_route_setting = '''
CREATE TABLE route_setting
(route_id INT NOT NULL,
 person_id INT NOT NULL,
 PRIMARY KEY (route_id, person_id),
 FOREIGN KEY (route_id) REFERENCES route(route_id),
 FOREIGN KEY (person_id) REFERENCES person(person_id))
'''
cursor.execute(create_route_setting)
conn.commit()


# Create route setter table
create_route_setter = '''
CREATE TABLE route_setter
(person_id INT NOT NULL,
 n_routes_created INT NOT NULL,
 route_setting_exp_lvl DECIMAL NOT NULL,
 certifications LONGTEXT,
 PRIMARY KEY (person_id),
 FOREIGN KEY (person_id) REFERENCES person (person_id))
'''
cursor.execute(create_route_setter)
conn.commit()


# Create climber table 
create_climber = '''
CREATE TABLE climber
(person_id INT NOT NULL,
 exp_lvl DECIMAL NOT NULL, 
 routes_attempted INT NOT NULL,
 is_team_member BOOLEAN NOT NULL,
 PRIMARY KEY (person_id),
 FOREIGN KEY (person_id) REFERENCES person (person_id))
'''
cursor.execute(create_climber)
conn.commit()


# Create administrator table 
create_admin = '''
CREATE TABLE admin
(person_id INT NOT NULL,
 has_edit_permission BOOLEAN NOT NULL, 
 has_delete_permission BOOLEAN NOT NULL, 
 has_create_permission BOOLEAN NOT NULL, 
 is_owner BOOLEAN NOT NULL,
 PRIMARY KEY (person_id),
 FOREIGN KEY (person_id) REFERENCES person (person_id))
'''
cursor.execute(create_admin)
conn.commit()

# Print out all of the create statements 
print(create_location,';\n')
print(create_person,';\n')
print(create_route,';\n')
print(create_log,';\n')
print(create_route_setting,';\n')
print(create_route_setter,';\n')
print(create_climber,';\n')
print(create_admin,';')

CREATE TABLE location
(location_id INT NOT NULL AUTO_INCREMENT,
 latitude DECIMAL(10,8) NOT NULL,
 longitude DECIMAL(10,8) NOT NULL,
 name VARCHAR(64) NOT NULL,
 entrance_city VARCHAR(255),
 entrance_zip VARCHAR(255),
 entrance_address VARCHAR(255),
 num_routes INT NOT NULL,
 PRIMARY KEY (location_id),
 CONSTRAINT Check_Location CHECK (-180<longitude AND longitude<180 AND -90<latitude AND latitude<90)
 )
 ;


CREATE TABLE person
(person_id INT NOT NULL AUTO_INCREMENT,
 f_name VARCHAR(32) NOT NULL,
 l_name VARCHAR(32) NOT NULL,
 initial VARCHAR(2) NOT NULL,
 email VARCHAR(64) NOT NULL,
 phone BIGINT(10) NOT NULL,
 PRIMARY KEY (person_id))
 ;


CREATE TABLE route
(route_id INT NOT NULL AUTO_INCREMENT,
 name VARCHAR(64) NOT NULL,
 difficulty DECIMAL(10,8) NOT NULL,
 rating DECIMAL,
 type enum('indoor','outdoor') NOT NULL,
 location_id INT NOT NULL,
 PRIMARY KEY (route_id),
 FOREIGN KEY (location_id) REFERENCES location (location_id),
 CONSTRAINT check_rating CHECK (rating>=0 AND rating<=10),
 CONSTRAINT check_difficulty CHECK (difficulty>=0 AND difficulty<=6))
 ;


CREATE TABLE log
(log_id INT NOT NULL AUTO_INCREMENT,
 person_id INT NOT NULL,
 comment LONGTEXT NOT NULL,
 route_beta LONGTEXT,
 route_id INT NOT NULL,
 PRIMARY KEY (log_id),
 FOREIGN KEY (route_id) REFERENCES route(route_id),
 FOREIGN KEY (person_id) REFERENCES person(person_id))
 ;


CREATE TABLE route_setting
(route_id INT NOT NULL,
 person_id INT NOT NULL,
 PRIMARY KEY (route_id, person_id),
 FOREIGN KEY (route_id) REFERENCES route(route_id),
 FOREIGN KEY (person_id) REFERENCES person(person_id))
 ;


CREATE TABLE route_setter
(person_id INT NOT NULL,
 n_routes_created INT NOT NULL,
 route_setting_exp_lvl DECIMAL NOT NULL,
 certifications LONGTEXT,
 PRIMARY KEY (person_id),
 FOREIGN KEY (person_id) REFERENCES person (person_id))
 ;


CREATE TABLE climber
(person_id INT NOT NULL,
 exp_lvl DECIMAL NOT NULL,
 routes_attempted INT NOT NULL,
 is_team_member BOOLEAN NOT NULL,
 PRIMARY KEY (person_id),
 FOREIGN KEY (person_id) REFERENCES person (person_id))
 ;


CREATE TABLE admin
(person_id INT NOT NULL,
 has_edit_permission BOOLEAN NOT NULL,
 has_delete_permission BOOLEAN NOT NULL,
 has_create_permission BOOLEAN NOT NULL,
 is_owner BOOLEAN NOT NULL,
 PRIMARY KEY (person_id),
 FOREIGN KEY (person_id) REFERENCES person (person_id))
 ;

# Generate Data

In [86]:
# Function to generate climb names 
first_name = ['willy','ron','shrimp','nano','egret','cozy','perry',
              'darnel','michael','grace','zach','veer','tyler','sherry',
              'rachel','andrew','abi','alyssa','brooke','alex','andy']
last_name = ['parnel','patel','clift','key','dixon','vincil',
             'lloyd','scott','halpert','beesly','bridges','stanmeyer',
             'porter','kelly','lebo','stewart']
adj = ['indubious','scary-ass','incredible','lame-ass','hard-ass',
       'piece-of-cake','cringy','timid','terrible','inspiring','awful',
       'tricky','downright-difficult']
noun = ['bluff','squeeze','tumble','hurdle','boulder-problem',
         'challenge','manuever','scramble','hike','ascent']
email = ['hotmail','gmail','yahoo','b2x.online']
parks = ['blueridge','appalachain','shenendoah','smoky','george washington',
         'montauk','luray','crozet','charlottesville','old rag','humpback','mcafees']
park_2 = ['national park', 'state park', 'nature preserve', 'reservoir', 'park', 
          'mountain', 'rocks', 'preserve', 'wildlife preserve']
initial = ['a.','b.','c.','d.','e.','f.','g.','h.','i.','l.','m.','n.'
          'o.','p.','r.','s.','t.','w.','v.']
list_names = [first_name, initial, last_name]
list_climbs = [first_name, adj, noun]

# Returns a string of climb names 
def generate_climbs():
    name = ''
    i = 0
    for sublist in list_climbs:
        idx = rand.randint(0,len(sublist))
        if i==0:
            name+=sublist[idx]+"'s"
        else: 
            name+=' '+sublist[idx]
        i+=1
    return name

# Returns a tuple of first, middle initial and last name 
def generate_person():
    name = []
    for sublist in list_names:
        idx = rand.randint(0,len(sublist))
        name.append(sublist[idx])
    return name[0], name[1], name[2]

# Return email address 
def generate_email(f_name,l_name):
    idx = rand.randint(0, len(email))
    address = email[idx]
    return f_name+'_'+l_name+'@'+address+'.com'
    
# Return phone number
def generate_phone(base=434):
    return int(str(base)+str(rand.randint(1000000,9999999)))

# Generate Location coordinates 
def generate_coords():
    lat = random.uniform(-77.5,-79.5)
    long = random.uniform(-37,-39)
    return lat, long

# Generate a location name
def generate_location_names():
    return parks[random.randint(0,len(parks)-1)] +' '+ park_2[random.randint(0,len(park_2)-1)]

In [87]:
# Set hyperparameters for data generation 
n_obs_people = 15
n_obs_routes = 40
n_obs_location = 10

In [88]:
# GENERATE LOCATIONS DATA 
location_dataframe = pd.read_sql('location', con=cnx)
for i in range(n_obs_location):
    lat, long = generate_coords()
    vals = {'location_id':i+1, 'latitude':lat,'longitude':long,'name':generate_location_names(),'entrance_city':np.nan,
           'entrance_zip':np.nan, 'entrance_address':np.nan,'num_routes':np.nan}
    location_dataframe = location_dataframe.append(vals, ignore_index=True)

# GENERATE ROUTE DATA 
route_dataframe = pd.read_sql('route', con=cnx)
for i in range(n_obs_routes):
    climb_diff = random.choice(np.linspace(4,6,21))
    climb_rate = random.choice(np.linspace(4,10,13))
    location_id = random.choice(location_dataframe['location_id'].to_list())
    vals = {'route_id':i+1, 'name':generate_climbs(),'difficulty':climb_diff, 'rating':climb_rate, 
           'type':'outdoor', 'location_id':location_id}
    route_dataframe = route_dataframe.append(vals, ignore_index=True)
def try_location(key):
    data = route_dataframe.groupby('location_id').apply(len).to_dict()
    a = 0
    try:
        data[key]
    except:
        pass
    else: 
        a = data[key]
    return a
location_dataframe['num_routes'] = location_dataframe.location_id.apply(try_location)

# GENERATE PEOPLE DATA 
people_dataframe = pd.read_sql('person', con=cnx)
for i in range(n_obs_people):
    f,m,l =generate_person()
    mail=generate_email(f,l)
    phone=generate_phone()
    vals = {'person_id':i+1,'f_name':f, 'l_name':l, 'initial':m, 'email':mail, 'phone':phone}
    people_dataframe = people_dataframe.append(vals, ignore_index=True)

# GENERATE CLIMBER DATA 
climber_dataframe = pd.read_sql('climber', con=cnx)
pct_climbers = .9
climbers_list = people_dataframe.sample(int(pct_climbers*len(people_dataframe)))['person_id'].to_list()
for i in range(len(climbers_list)):
    max_v = len(route_dataframe)
    routes_attempted = rand.randint(0,max_v)
    vals = {'person_id':climbers_list[i],
            'exp_lvl':min(10, round((1-math.tanh((max_v-routes_attempted)/max_v))*9 + 2*rand.uniform(),1)),
            'routes_attempted':routes_attempted, 
            'is_team_member':rand.choice([True,False],p=[.7,.3])}
    climber_dataframe = climber_dataframe.append(vals, ignore_index=True)

# GENERATE ROUTE SETTING data 
route_setting_dataframe = pd.read_sql('route_setting', con=cnx)
route_setters_list = climber_dataframe.sort_values('exp_lvl',ascending=False).sample(int(.3*len(climber_dataframe)))['person_id'].to_list()
for i in range(len(route_dataframe)):
    randn_setters = random.randint(1,len(route_setters_list))
    person_ids = rand.choice(route_setters_list)
    for j in range(randn_setters):
        person = route_setters_list[j]
        route = route_dataframe['route_id'].iloc[i]
        vals = {'route_id':route,'person_id':person}
        route_setting_dataframe = route_setting_dataframe.append(vals, ignore_index=True)

# GENERATE ROUTE SETTER data 
route_setter_dataframe = pd.read_sql('route_setter', con=cnx)
person_ids = route_setting_dataframe.groupby('person_id').apply(len).index.to_list()
n_routes = route_setting_dataframe.groupby('person_id').apply(len).to_list()
for i in range(len(person_ids)):
    max_v = max(n_routes)
    vals = {'person_id':person_ids[i],
            'n_routes_created':n_routes[i],
            'route_setting_exp_lvl':min(10, round((1-math.tanh((max_v-n_routes[i])/max_v))*9 + 1*rand.uniform(),1))}
    route_setter_dataframe = route_setter_dataframe.append(vals, ignore_index=True)

# GENERATE ADMIN data
admin_list = people_dataframe.loc[people_dataframe.person_id.apply(lambda x: x not in climbers_list),'person_id'].to_list()+climber_dataframe.sample(2)['person_id'].to_list()
admin_dataframe = pd.read_sql('admin', con=cnx)
for i in range(len(admin_list)):
    vals = {'person_id':admin_list[i],
            'has_edit_permission':rand.choice([True,False],p=[.9,.1]),
            'has_delete_permission':rand.choice([True,False],p=[.9,.1]),
            'has_create_permission':rand.choice([True,False],p=[.9,.1]),
            'is_owner':rand.choice([True,False],p=[.1,.9])}
    admin_dataframe = admin_dataframe.append(vals, ignore_index=True)
    
# GENERATE LOG DATA 
n_logs = 5
log_dataframe = pd.read_sql('log', con=cnx)
log_dataframe['log_id'] = [1,2,3,4,5]
log_dataframe['person_id'] = rand.choice(climber_dataframe.loc[climber_dataframe['routes_attempted']!=0,'person_id'].to_list(),n_logs)
log_dataframe['comment'] = ['lots of fun, very easy course',
                             'hella dangerous without proper equipment',
                             'name is deceptive: easiest course at blueridge',
                             'too easy not worth the drive',
                             'more of a steep climb with small amounts of bouldering']
log_dataframe['route_beta'] = ['toe hook on sharp ledge marked with chalk',
                               'dyno from hold marked 2 onto blue overhang marked 5',
                               'use the crack to the left of red marker as primary hand hold',
                               'karate kick over between boulders',
                               'mantle blue ledge']
log_dataframe['route_id'] = rand.choice(route_dataframe.loc[:,'route_id'].to_list(),n_logs)

# Insert Data into Database

In [89]:
# Insert all people records
for i in range(len(people_dataframe)):
    row_entry = str(people_dataframe.iloc[i].to_list()[1:]).replace("]",")").replace("[","(")
    columns = str(people_dataframe.columns[1:].to_list()).replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO person "+columns+" VALUES "+row_entry
    print("INSERT INTO person "+columns,"\nVALUES "+row_entry,';')
    cursor.execute(command)
    conn.commit()

INSERT INTO person (f_name, l_name, initial, email, phone)
VALUES ('andy', 'lebo', 't.', 'andy_lebo@hotmail.com', 4341928748) ;
INSERT INTO person (f_name, l_name, initial, email, phone)
VALUES ('brooke', 'bridges', 'h.', 'brooke_bridges@b2x.online.com', 4343122555) ;
INSERT INTO person (f_name, l_name, initial, email, phone)
VALUES ('darnel', 'stanmeyer', 'i.', 'darnel_stanmeyer@gmail.com', 4342132412) ;
INSERT INTO person (f_name, l_name, initial, email, phone)
VALUES ('andrew', 'dixon', 'w.', 'andrew_dixon@yahoo.com', 4342297371) ;
INSERT INTO person (f_name, l_name, initial, email, phone)
VALUES ('nano', 'parnel', 'f.', 'nano_parnel@hotmail.com', 4341481069) ;
INSERT INTO person (f_name, l_name, initial, email, phone)
VALUES ('grace', 'bridges', 'm.', 'grace_bridges@hotmail.com', 4348978368) ;
INSERT INTO person (f_name, l_name, initial, email, phone)
VALUES ('cozy', 'dixon', 'w.', 'cozy_dixon@yahoo.com', 4345698094) ;
INSERT INTO person (f_name, l_name, initial, email, phone)
VALUES ('grace', 'parnel', 'b.', 'grace_parnel@hotmail.com', 4341410954) ;
INSERT INTO person (f_name, l_name, initial, email, phone)
VALUES ('rachel', 'porter', 'l.', 'rachel_porter@yahoo.com', 4341444527) ;
INSERT INTO person (f_name, l_name, initial, email, phone)
VALUES ('brooke', 'beesly', 'f.', 'brooke_beesly@hotmail.com', 4346113945) ;
INSERT INTO person (f_name, l_name, initial, email, phone)
VALUES ('egret', 'stewart', 'e.', 'egret_stewart@gmail.com', 4343627565) ;
INSERT INTO person (f_name, l_name, initial, email, phone)
VALUES ('shrimp', 'stanmeyer', 'a.', 'shrimp_stanmeyer@b2x.online.com', 4347254339) ;
INSERT INTO person (f_name, l_name, initial, email, phone)
VALUES ('alyssa', 'scott', 's.', 'alyssa_scott@hotmail.com', 4348598472) ;
INSERT INTO person (f_name, l_name, initial, email, phone)
VALUES ('andrew', 'patel', 'a.', 'andrew_patel@yahoo.com', 4341650634) ;
INSERT INTO person (f_name, l_name, initial, email, phone)
VALUES ('cozy', 'stanmeyer', 't.', 'cozy_stanmeyer@gmail.com', 4342094865) ;

In [90]:
# Insert all location records 
for i in range(len(location_dataframe)):
    row_entry = str(location_dataframe.iloc[i].to_list()[1:]).replace("]",")").replace("[","(").replace(' nan,','')
    columns = str(['latitude', 'longitude', 'name', 'num_routes'])\
                .replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO location "+columns+" VALUES "+row_entry
    print("INSERT INTO person "+columns,"\nVALUES "+row_entry,';')
    cursor.execute(command)
    conn.commit()

INSERT INTO person (latitude, longitude, name, num_routes)
VALUES (-78.27064415565076, -37.5355512187367, 'old rag nature preserve', 3) ;
INSERT INTO person (latitude, longitude, name, num_routes)
VALUES (-78.1648514119108, -38.71883083472837, 'crozet reservoir', 4) ;
INSERT INTO person (latitude, longitude, name, num_routes)
VALUES (-79.16467572268421, -38.62779170101118, 'smoky park', 4) ;
INSERT INTO person (latitude, longitude, name, num_routes)
VALUES (-79.49093566834327, -38.57513315033033, 'old rag reservoir', 5) ;
INSERT INTO person (latitude, longitude, name, num_routes)
VALUES (-77.74614190037386, -37.95430985274921, 'luray preserve', 3) ;
INSERT INTO person (latitude, longitude, name, num_routes)
VALUES (-78.68126948231392, -38.79091768885454, 'mcafees mountain', 6) ;
INSERT INTO person (latitude, longitude, name, num_routes)
VALUES (-77.55782654460802, -37.82766258267001, 'crozet rocks', 5) ;
INSERT INTO person (latitude, longitude, name, num_routes)
VALUES (-78.34829320300571, -37.52130819027069, 'humpback state park', 3) ;
INSERT INTO person (latitude, longitude, name, num_routes)
VALUES (-77.76093314290391, -38.335758571491795, 'george washington nature preserve', 3) ;
INSERT INTO person (latitude, longitude, name, num_routes)
VALUES (-78.73361993428668, -38.784491756569636, 'charlottesville rocks', 4) ;

In [91]:
# Insert all route data 
for i in range(len(route_dataframe)):
    row_entry = str(route_dataframe.iloc[i].to_list()[1:]).replace("]",")").replace("[","(")
    columns = str(['name', 'difficulty', 'rating', 'type', 'location_id'])\
                .replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO route "+columns+" VALUES "+row_entry
    print("INSERT INTO person "+columns,"\nVALUES "+row_entry,';')
    cursor.execute(command)
    conn.commit()

INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("zach's hard-ass squeeze", 6.0, 9.5, 'outdoor', 7) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("willy's awful ascent", 4.3, 4.0, 'outdoor', 7) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("rachel's lame-ass hike", 5.8, 4.5, 'outdoor', 3) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("nano's hard-ass hike", 4.4, 10.0, 'outdoor', 4) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("ron's scary-ass hurdle", 4.1, 8.5, 'outdoor', 6) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("willy's downright-difficult boulder-problem", 4.8, 7.0, 'outdoor', 8) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("willy's indubious challenge", 5.8, 8.5, 'outdoor', 7) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("michael's piece-of-cake hike", 5.6, 5.5, 'outdoor', 10) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("rachel's piece-of-cake tumble", 4.3, 8.0, 'outdoor', 4) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("alex's terrible tumble", 4.9, 10.0, 'outdoor', 4) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("michael's awful manuever", 5.4, 5.5, 'outdoor', 1) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("andrew's lame-ass boulder-problem", 5.9, 5.5, 'outdoor', 3) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("veer's hard-ass manuever", 4.8, 6.5, 'outdoor', 3) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("egret's downright-difficult challenge", 5.3, 4.0, 'outdoor', 2) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("abi's hard-ass squeeze", 4.9, 10.0, 'outdoor', 2) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("alyssa's lame-ass squeeze", 4.0, 7.5, 'outdoor', 9) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("tyler's hard-ass squeeze", 4.2, 9.0, 'outdoor', 10) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("andrew's terrible hurdle", 4.9, 6.5, 'outdoor', 7) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("shrimp's tricky hurdle", 4.1, 5.0, 'outdoor', 8) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("veer's inspiring ascent", 6.0, 10.0, 'outdoor', 8) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("egret's inspiring hike", 5.4, 10.0, 'outdoor', 2) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("grace's incredible manuever", 5.9, 7.0, 'outdoor', 3) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("abi's piece-of-cake manuever", 5.1, 6.5, 'outdoor', 10) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("darnel's cringy boulder-problem", 4.1, 8.0, 'outdoor', 1) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("alyssa's terrible tumble", 5.4, 6.5, 'outdoor', 4) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("egret's terrible challenge", 5.1, 7.5, 'outdoor', 6) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("grace's scary-ass scramble", 4.6, 6.5, 'outdoor', 5) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("willy's indubious tumble", 5.5, 7.5, 'outdoor', 6) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("perry's piece-of-cake ascent", 4.1, 9.5, 'outdoor', 9) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("andy's incredible challenge", 4.6, 7.5, 'outdoor', 6) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("egret's incredible challenge", 6.0, 7.0, 'outdoor', 5) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("willy's lame-ass tumble", 5.4, 5.0, 'outdoor', 9) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("rachel's incredible boulder-problem", 6.0, 6.5, 'outdoor', 4) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("abi's tricky squeeze", 4.5, 5.5, 'outdoor', 2) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("grace's inspiring manuever", 4.3, 6.5, 'outdoor', 1) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("egret's indubious hike", 5.7, 8.0, 'outdoor', 7) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("shrimp's indubious boulder-problem", 5.1, 6.5, 'outdoor', 10) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("perry's incredible squeeze", 4.7, 4.5, 'outdoor', 6) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("shrimp's awful manuever", 6.0, 5.5, 'outdoor', 5) ;
INSERT INTO person (name, difficulty, rating, type, location_id)
VALUES ("tyler's indubious scramble", 6.0, 6.5, 'outdoor', 6) ;

In [92]:
# Insert all route_setter data 
for i in range(len(route_setting_dataframe)):
    row_entry = str(route_setting_dataframe.iloc[i].to_list()).replace("]",")").replace("[","(")
    columns = str(['route_id','person_id'])\
                .replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO route_setting "+columns+" VALUES "+row_entry
    print(command,';')
    cursor.execute(command)
    conn.commit()

INSERT INTO route_setting (route_id, person_id) VALUES (1, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (1, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (1, 11) ;
INSERT INTO route_setting (route_id, person_id) VALUES (2, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (3, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (4, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (4, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (5, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (5, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (5, 11) ;
INSERT INTO route_setting (route_id, person_id) VALUES (6, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (7, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (7, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (8, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (8, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (8, 11) ;
INSERT INTO route_setting (route_id, person_id) VALUES (9, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (10, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (10, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (11, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (11, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (11, 11) ;
INSERT INTO route_setting (route_id, person_id) VALUES (12, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (12, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (13, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (13, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (14, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (15, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (15, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (16, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (17, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (17, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (17, 11) ;
INSERT INTO route_setting (route_id, person_id) VALUES (18, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (18, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (19, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (20, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (21, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (21, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (22, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (23, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (23, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (24, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (25, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (25, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (26, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (26, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (26, 11) ;
INSERT INTO route_setting (route_id, person_id) VALUES (27, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (28, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (28, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (29, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (29, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (30, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (30, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (31, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (31, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (32, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (33, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (34, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (35, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (35, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (35, 11) ;
INSERT INTO route_setting (route_id, person_id) VALUES (36, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (36, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (36, 11) ;
INSERT INTO route_setting (route_id, person_id) VALUES (37, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (37, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (37, 11) ;
INSERT INTO route_setting (route_id, person_id) VALUES (38, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (38, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (38, 11) ;
INSERT INTO route_setting (route_id, person_id) VALUES (39, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (39, 13) ;
INSERT INTO route_setting (route_id, person_id) VALUES (40, 4) ;
INSERT INTO route_setting (route_id, person_id) VALUES (40, 13) ;

In [93]:
# Insert all route_setting data 
for i in range(len(route_setter_dataframe)):
    row_entry = str(route_setter_dataframe.iloc[i].to_list()).replace("]",")").replace("[","(").replace('nan','NULL')
    columns = str(['person_id','n_routes_created','route_setting_exp_lvl','certifications'])\
                .replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO route_setter "+columns+" VALUES "+row_entry
    print(command,';')
    cursor.execute(command)
    conn.commit()

INSERT INTO route_setter (person_id, n_routes_created, route_setting_exp_lvl, certifications) VALUES (4.0, 40.0, 9.9, NULL) ;
INSERT INTO route_setter (person_id, n_routes_created, route_setting_exp_lvl, certifications) VALUES (11.0, 10.0, 3.7, NULL) ;
INSERT INTO route_setter (person_id, n_routes_created, route_setting_exp_lvl, certifications) VALUES (13.0, 26.0, 6.8, NULL) ;

In [94]:
# Insert all climber data 
for i in range(len(climber_dataframe)):
    row_entry = str(climber_dataframe.iloc[i].to_list()).replace("]",")").replace("[","(").replace('nan','NULL')
    columns = str(['person_id','exp_lvl','routes_attempted','is_team_member'])\
                .replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO climber "+columns+" VALUES "+row_entry
    print(command,';')
    cursor.execute(command)
    conn.commit()

INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (8.0, 7.2, 22.0, 1.0) ;
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (7.0, 4.2, 10.0, 1.0) ;
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (12.0, 7.2, 25.0, 0.0) ;
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (1.0, 5.9, 23.0, 0.0) ;
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (3.0, 8.4, 32.0, 1.0) ;
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (5.0, 3.6, 10.0, 1.0) ;
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (11.0, 6.6, 22.0, 1.0) ;
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (10.0, 4.7, 17.0, 1.0) ;
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (9.0, 4.0, 6.0, 1.0) ;
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (6.0, 8.3, 37.0, 1.0) ;
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (15.0, 6.9, 27.0, 1.0) ;
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (4.0, 5.9, 22.0, 1.0) ;
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (13.0, 5.0, 12.0, 0.0) ;

In [95]:
# Insert all admin data  
for i in range(len(admin_dataframe)):
    row_entry = str(admin_dataframe.iloc[i].to_list()).replace("]",")").replace("[","(").replace('nan','NULL')
    columns = str(['person_id','has_edit_permission','has_delete_permission','has_create_permission','is_owner'])\
                .replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO admin "+columns+" VALUES "+row_entry
    print("INSERT INTO person "+columns,"\nVALUES "+row_entry,';')    
    cursor.execute(command)
    conn.commit()

INSERT INTO person (person_id, has_edit_permission, has_delete_permission, has_create_permission, is_owner)
VALUES (2, 1, 1, 1, 0) ;
INSERT INTO person (person_id, has_edit_permission, has_delete_permission, has_create_permission, is_owner)
VALUES (14, 1, 1, 1, 0) ;
INSERT INTO person (person_id, has_edit_permission, has_delete_permission, has_create_permission, is_owner)
VALUES (6, 1, 1, 0, 0) ;
INSERT INTO person (person_id, has_edit_permission, has_delete_permission, has_create_permission, is_owner)
VALUES (7, 0, 1, 1, 0) ;

In [96]:
# Insert all log data 
for i in range(len(log_dataframe)):
    row_entry = str(log_dataframe.iloc[i].to_list()[1:]).replace("]",")").replace("[","(").replace('nan','NULL')
    columns = str(['person_id','comment','route_beta','route_id'])\
                .replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO log "+columns+" VALUES "+row_entry
    print("INSERT INTO person "+columns,"\nVALUES "+row_entry,';')    
    cursor.execute(command)
    conn.commit()

INSERT INTO person (person_id, comment, route_beta, route_id)
VALUES (13, 'lots of fun, very easy course', 'toe hook on sharp ledge marked with chalk', 22) ;
INSERT INTO person (person_id, comment, route_beta, route_id)
VALUES (7, 'hella dangerous without proper equipment', 'dyno from hold marked 2 onto blue overhang marked 5', 9) ;
INSERT INTO person (person_id, comment, route_beta, route_id)
VALUES (13, 'name is deceptive: easiest course at blueridge', 'use the crack to the left of red marker as primary hand hold', 30) ;
INSERT INTO person (person_id, comment, route_beta, route_id)
VALUES (4, 'too easy not worth the drive', 'karate kick over between boulders', 25) ;
INSERT INTO person (person_id, comment, route_beta, route_id)
VALUES (9, 'more of a steep climb with small amounts of bouldering', 'mantle blue ledge', 16) ;

# Retrieve your data

## Select all data

In [97]:
# Person Data Table
command = "SELECT * FROM person"
print(command)
pd.read_sql(command,con=cnx)

SELECT * FROM person

,person_id,f_name,l_name,initial,email,phone
0,1,andy,lebo,t.,andy_lebo@hotmail.com,4341928748
1,2,brooke,bridges,h.,brooke_bridges@b2x.online.com,4343122555
2,3,darnel,stanmeyer,i.,darnel_stanmeyer@gmail.com,4342132412
3,4,andrew,dixon,w.,andrew_dixon@yahoo.com,4342297371
4,5,nano,parnel,f.,nano_parnel@hotmail.com,4341481069
5,6,grace,bridges,m.,grace_bridges@hotmail.com,4348978368
6,7,cozy,dixon,w.,cozy_dixon@yahoo.com,4345698094
7,8,grace,parnel,b.,grace_parnel@hotmail.com,4341410954
8,9,rachel,porter,l.,rachel_porter@yahoo.com,4341444527
9,10,brooke,beesly,f.,brooke_beesly@hotmail.com,4346113945
10,11,egret,stewart,e.,egret_stewart@gmail.com,4343627565
11,12,shrimp,stanmeyer,a.,shrimp_stanmeyer@b2x.online.com,4347254339
12,13,alyssa,scott,s.,alyssa_scott@hotmail.com,4348598472
13,14,andrew,patel,a.,andrew_patel@yahoo.com,4341650634
14,15,cozy,stanmeyer,t.,cozy_stanmeyer@gmail.com,4342094865

In [98]:
# Route Data Table
command = "SELECT * FROM route"
print(command)
pd.read_sql(command,con=cnx)

SELECT * FROM route

,route_id,name,difficulty,rating,type,location_id
0,1,zach's hard-ass squeeze,6.0,10.0,outdoor,7
1,2,willy's awful ascent,4.3,4.0,outdoor,7
2,3,rachel's lame-ass hike,5.8,5.0,outdoor,3
3,4,nano's hard-ass hike,4.4,10.0,outdoor,4
4,5,ron's scary-ass hurdle,4.1,9.0,outdoor,6
5,6,willy's downright-difficult boulder-problem,4.8,7.0,outdoor,8
6,7,willy's indubious challenge,5.8,9.0,outdoor,7
7,8,michael's piece-of-cake hike,5.6,6.0,outdoor,10
8,9,rachel's piece-of-cake tumble,4.3,8.0,outdoor,4
9,10,alex's terrible tumble,4.9,10.0,outdoor,4
10,11,michael's awful manuever,5.4,6.0,outdoor,1
11,12,andrew's lame-ass boulder-problem,5.9,6.0,outdoor,3
12,13,veer's hard-ass manuever,4.8,7.0,outdoor,3
13,14,egret's downright-difficult challenge,5.3,4.0,outdoor,2
14,15,abi's hard-ass squeeze,4.9,10.0,outdoor,2
15,16,alyssa's lame-ass squeeze,4.0,8.0,outdoor,9
16,17,tyler's hard-ass squeeze,4.2,9.0,outdoor,10
17,18,andrew's terrible hurdle,4.9,7.0,outdoor,7
18,19,shrimp's tricky hurdle,4.1,5.0,outdoor,8
19,20,veer's inspiring ascent,6.0,10.0,outdoor,8
20,21,egret's inspiring hike,5.4,10.0,outdoor,2
21,22,grace's incredible manuever,5.9,7.0,outdoor,3
22,23,abi's piece-of-cake manuever,5.1,7.0,outdoor,10
23,24,darnel's cringy boulder-problem,4.1,8.0,outdoor,1
24,25,alyssa's terrible tumble,5.4,7.0,outdoor,4
25,26,egret's terrible challenge,5.1,8.0,outdoor,6
26,27,grace's scary-ass scramble,4.6,7.0,outdoor,5
27,28,willy's indubious tumble,5.5,8.0,outdoor,6
28,29,perry's piece-of-cake ascent,4.1,10.0,outdoor,9
29,30,andy's incredible challenge,4.6,8.0,outdoor,6
30,31,egret's incredible challenge,6.0,7.0,outdoor,5
31,32,willy's lame-ass tumble,5.4,5.0,outdoor,9
32,33,rachel's incredible boulder-problem,6.0,7.0,outdoor,4
33,34,abi's tricky squeeze,4.5,6.0,outdoor,2
34,35,grace's inspiring manuever,4.3,7.0,outdoor,1
35,36,egret's indubious hike,5.7,8.0,outdoor,7
36,37,shrimp's indubious boulder-problem,5.1,7.0,outdoor,10
37,38,perry's incredible squeeze,4.7,5.0,outdoor,6
38,39,shrimp's awful manuever,6.0,6.0,outdoor,5
39,40,tyler's indubious scramble,6.0,7.0,outdoor,6

In [99]:
# Location Data Table
command = "SELECT * FROM location"
print(command)
pd.read_sql(command,con=cnx)

SELECT * FROM location

,location_id,latitude,longitude,name,entrance_city,entrance_zip,entrance_address,num_routes
0,1,-78.270644,-37.535551,old rag nature preserve,None,None,None,3
1,2,-78.164851,-38.718831,crozet reservoir,None,None,None,4
2,3,-79.164676,-38.627792,smoky park,None,None,None,4
3,4,-79.490936,-38.575133,old rag reservoir,None,None,None,5
4,5,-77.746142,-37.954310,luray preserve,None,None,None,3
5,6,-78.681269,-38.790918,mcafees mountain,None,None,None,6
6,7,-77.557827,-37.827663,crozet rocks,None,None,None,5
7,8,-78.348293,-37.521308,humpback state park,None,None,None,3
8,9,-77.760933,-38.335759,george washington nature preserve,None,None,None,3
9,10,-78.733620,-38.784492,charlottesville rocks,None,None,None,4

In [100]:
# Route Setting Data Table 
command = "SELECT * FROM route_setting"
print(command)
pd.read_sql(command,con=cnx).sort_values(by='route_id').reset_index(drop=True)

SELECT * FROM route_setting

    route_id  person_id
0          1          4
1          1         13
2          1         11
3          2          4
4          3          4
..       ...        ...
71        38         11
72        39          4
73        39         13
74        40          4
75        40         13

[76 rows x 2 columns]

In [101]:
# Route log data table 
command = "SELECT * FROM log"
print(command)
pd.read_sql(command,con=cnx)

SELECT * FROM log

,log_id,person_id,comment,route_beta,route_id
0,1,13,"lots of fun, very easy course",toe hook on sharp ledge marked with chalk,22
1,2,7,hella dangerous without proper equipment,dyno from hold marked 2 onto blue overhang mar...,9
2,3,13,name is deceptive: easiest course at blueridge,use the crack to the left of red marker as pri...,30
3,4,4,too easy not worth the drive,karate kick over between boulders,25
4,5,9,more of a steep climb with small amounts of bo...,mantle blue ledge,16

In [102]:
# Route Setter Data 
command = "SELECT * FROM route_setter"
print(command)
pd.read_sql(command,con=cnx)

SELECT * FROM route_setter

   person_id  n_routes_created  route_setting_exp_lvl certifications
0          4                40                   10.0           None
1         11                10                    4.0           None
2         13                26                    7.0           None

In [103]:
# Climber Data Table
command = "SELECT * FROM climber"
print(command)
pd.read_sql(command,con=cnx)

SELECT * FROM climber

    person_id  exp_lvl  routes_attempted  is_team_member
0           1      6.0                23               0
1           3      8.0                32               1
2           4      6.0                22               1
3           5      4.0                10               1
4           6      8.0                37               1
5           7      4.0                10               1
6           8      7.0                22               1
7           9      4.0                 6               1
8          10      5.0                17               1
9          11      7.0                22               1
10         12      7.0                25               0
11         13      5.0                12               0
12         15      7.0                27               1

In [104]:
# Admin Data Table
command = "SELECT * FROM admin"
print(command)
pd.read_sql(command,con=cnx)

SELECT * FROM admin

,person_id,has_edit_permission,has_delete_permission,has_create_permission,is_owner
0,2,1,1,1,0
1,6,1,1,0,0
2,7,0,1,1,0
3,14,1,1,1,0

## Select Rows Queries

In [105]:
# Get the contact info for all route setters 
command = '''
SELECT f_name, l_name, email, phone
FROM person NATURAL JOIN route_setter
'''
print(command)
pd.read_sql(command,con=cnx)

SELECT f_name, l_name, email, phone
FROM person NATURAL JOIN route_setter

   f_name   l_name                     email       phone
0  andrew    dixon    andrew_dixon@yahoo.com  4342297371
1   egret  stewart   egret_stewart@gmail.com  4343627565
2  alyssa    scott  alyssa_scott@hotmail.com  4348598472

In [106]:
# Get list of all people who are admin AND climbers
command = '''
SELECT person_id, f_name, l_name 
FROM person NATURAL JOIN admin NATURAL JOIN climber
'''
print(command)
pd.read_sql(command,con=cnx)

SELECT person_id, f_name, l_name
FROM person NATURAL JOIN admin NATURAL JOIN climber

   person_id f_name   l_name
0          6  grace  bridges
1          7   cozy    dixon

In [113]:
# Get all of the locations EAST (lower longitude) of charlottesville preserve
command = '''
SELECT location_id, name, latitude, longitude
FROM location
WHERE longitude < (SELECT longitude
                   FROM location
                   WHERE name='crozet reservoir')
'''
print(command)
pd.read_sql(command,con=cnx)

SELECT location_id, name, latitude, longitude
FROM location
WHERE longitude < (SELECT longitude
                   FROM location
                   WHERE name='crozet reservoir')

   location_id                   name   latitude  longitude
0            6       mcafees mountain -78.681269 -38.790918
1           10  charlottesville rocks -78.733620 -38.784492

## Summarize Queries

In [114]:
# Get total number of routes as well as difficulty level of each route 
command = '''
SELECT  (SELECT COUNT(*)
        FROM route
        WHERE difficulty BETWEEN 4 AND 5) AS easy_routes,
        (SELECT COUNT(*)
        FROM route
        WHERE difficulty BETWEEN 5.1 AND 5.4) AS medium_routes,
        (SELECT COUNT(*)
        FROM route
        WHERE difficulty BETWEEN 5.5 AND 6) AS hard_routes,
        (SELECT COUNT(*)
        FROM route) AS total_routes, 
        (SELECT COUNT(*)
        FROM location) AS total_locations
FROM    dual;
'''

pd.read_sql(command, con=cnx)

   easy_routes  medium_routes  hard_routes  total_routes  total_locations
0           19              8           13            40               10

In [115]:
# Get average route rating for loacation as well as number of routes
command = '''
SELECT ROUND(AVG(rating),2) AS 'Average Rating', 
    ROUND(MIN(rating)) AS 'Min Rating',
    ROUND(MAX(rating)) AS 'Max Rating',
    ROUND(AVG(difficulty),2) AS 'Average Difficulty',
    COUNT(*) AS 'Number of Routes', 
    location.name AS 'Location Name'
FROM route JOIN location USING (location_id)
GROUP BY location_id
'''
pd.read_sql(command,con=cnx)

,Average Rating,Min Rating,Max Rating,Average Difficulty,Number of Routes,Location Name
0,7.00,6.0,8.0,4.60,3,old rag nature preserve
1,7.50,4.0,10.0,5.03,4,crozet reservoir
2,6.25,5.0,7.0,5.60,4,smoky park
3,8.40,7.0,10.0,5.00,5,old rag reservoir
4,6.67,6.0,7.0,5.53,3,luray preserve
5,7.50,5.0,9.0,5.00,6,mcafees mountain
6,7.60,4.0,10.0,5.34,5,crozet rocks
7,7.33,5.0,10.0,4.97,3,humpback state park
8,7.67,5.0,10.0,4.50,3,george washington nature preserve
9,7.25,6.0,9.0,5.00,4,charlottesville rocks

In [129]:
# Get the total number of each type of system user
command = '''
SELECT  (SELECT COUNT(*)
        FROM   climber) AS count_climber,
        (SELECT COUNT(*)
        FROM   route_setter) AS count_route_setter,
        (SELECT COUNT(*)
        FROM `admin`) AS count_admin,
        (SELECT COUNT(*)
        FROM person) AS count_total
FROM    dual;
'''
print(command)
pd.read_sql(command,con=cnx)

SELECT  (SELECT COUNT(*)
        FROM   climber) AS count_climber,
        (SELECT COUNT(*)
        FROM   route_setter) AS count_route_setter,
        (SELECT COUNT(*)
        FROM `admin`) AS count_admin,
        (SELECT COUNT(*)
        FROM person) AS count_total
FROM    dual;

   count_climber  count_route_setter  count_admin  count_total
0             13                   3            4           15

In [128]:
command = '''
SELECT person_id, CONCAT(f_name,' ',`initial`,' ',l_name) AS 'full_name', 
    exp_lvl IS NOT NULL AS 'is_climber', 
    route_setter.route_setting_exp_lvl IS NOT NULL AS 'is_route_setter', 
    `admin`.has_edit_permission IS NOT NULL AS 'is_admin'
FROM person LEFT JOIN climber USING (person_id) LEFT JOIN route_setter USING (person_id) LEFT JOIN `admin` USING (person_id)
'''
print(command)
pd.read_sql(command,con=cnx)

SELECT person_id, CONCAT(f_name,' ',`initial`,' ',l_name) AS 'full_name',
    exp_lvl IS NOT NULL AS 'is_climber',
    route_setter.route_setting_exp_lvl IS NOT NULL AS 'is_route_setter',
    `admin`.has_edit_permission IS NOT NULL AS 'is_admin'
FROM person LEFT JOIN climber USING (person_id) LEFT JOIN route_setter USING (person_id) LEFT JOIN `admin` USING (person_id)

    person_id            full_name  is_climber  is_route_setter  is_admin
0           1         andy t. lebo           1                0         0
1           2    brooke h. bridges           0                0         1
2           3  darnel i. stanmeyer           1                0         0
3           4      andrew w. dixon           1                1         0
4           5       nano f. parnel           1                0         0
5           6     grace m. bridges           1                0         1
6           7        cozy w. dixon           1                0         1
7           8      grace b. parnel           1                0         0
8           9     rachel l. porter           1                0         0
9          10     brooke f. beesly           1                0         0
10         11     egret e. stewart           1                1         0
11         12  shrimp a. stanmeyer           1                0         0
12         13      alyssa s. scott           1                1         0
13         14      andrew a. patel           0                0         1
14         15    cozy t. stanmeyer           1                0         0

## Generate Master Report

In [124]:
# Master Data file of all of the routes from all of the locations, their difficulty, rating, type, comments and beta 
command = '''
SELECT location_id, route_id, latitude, longitude, 
location.name AS 'location name', route.name AS 'route name', 
difficulty, rating, route.`type`, `log`.`comment`, `log`.`route_beta`
FROM location JOIN route USING (location_id) LEFT JOIN `log` USING (route_id)
'''
pd.read_sql(command,con=cnx)

,location_id,route_id,latitude,longitude,location name,route name,difficulty,rating,type,comment,route_beta
0,1,11,-78.270644,-37.535551,old rag nature preserve,michael's awful manuever,5.4,6.0,outdoor,None,None
1,1,24,-78.270644,-37.535551,old rag nature preserve,darnel's cringy boulder-problem,4.1,8.0,outdoor,None,None
2,1,35,-78.270644,-37.535551,old rag nature preserve,grace's inspiring manuever,4.3,7.0,outdoor,None,None
3,2,14,-78.164851,-38.718831,crozet reservoir,egret's downright-difficult challenge,5.3,4.0,outdoor,None,None
4,2,15,-78.164851,-38.718831,crozet reservoir,abi's hard-ass squeeze,4.9,10.0,outdoor,None,None
5,2,21,-78.164851,-38.718831,crozet reservoir,egret's inspiring hike,5.4,10.0,outdoor,None,None
6,2,34,-78.164851,-38.718831,crozet reservoir,abi's tricky squeeze,4.5,6.0,outdoor,None,None
7,3,3,-79.164676,-38.627792,smoky park,rachel's lame-ass hike,5.8,5.0,outdoor,None,None
8,3,12,-79.164676,-38.627792,smoky park,andrew's lame-ass boulder-problem,5.9,6.0,outdoor,None,None
9,3,13,-79.164676,-38.627792,smoky park,veer's hard-ass manuever,4.8,7.0,outdoor,None,None
10,3,22,-79.164676,-38.627792,smoky park,grace's incredible manuever,5.9,7.0,outdoor,"lots of fun, very easy course",toe hook on sharp ledge marked with chalk
11,4,4,-79.490936,-38.575133,old rag reservoir,nano's hard-ass hike,4.4,10.0,outdoor,None,None
12,4,9,-79.490936,-38.575133,old rag reservoir,rachel's piece-of-cake tumble,4.3,8.0,outdoor,hella dangerous without proper equipment,dyno from hold marked 2 onto blue overhang mar...
13,4,10,-79.490936,-38.575133,old rag reservoir,alex's terrible tumble,4.9,10.0,outdoor,None,None
14,4,25,-79.490936,-38.575133,old rag reservoir,alyssa's terrible tumble,5.4,7.0,outdoor,too easy not worth the drive,karate kick over between boulders
15,4,33,-79.490936,-38.575133,old rag reservoir,rachel's incredible boulder-problem,6.0,7.0,outdoor,None,None
16,5,27,-77.746142,-37.954310,luray preserve,grace's scary-ass scramble,4.6,7.0,outdoor,None,None
17,5,31,-77.746142,-37.954310,luray preserve,egret's incredible challenge,6.0,7.0,outdoor,None,None
18,5,39,-77.746142,-37.954310,luray preserve,shrimp's awful manuever,6.0,6.0,outdoor,None,None
19,6,5,-78.681269,-38.790918,mcafees mountain,ron's scary-ass hurdle,4.1,9.0,outdoor,None,None
20,6,26,-78.681269,-38.790918,mcafees mountain,egret's terrible challenge,5.1,8.0,outdoor,None,None
21,6,28,-78.681269,-38.790918,mcafees mountain,willy's indubious tumble,5.5,8.0,outdoor,None,None
22,6,30,-78.681269,-38.790918,mcafees mountain,andy's incredible challenge,4.6,8.0,outdoor,name is deceptive: easiest course at blueridge,use the crack to the left of red marker as pri...
23,6,38,-78.681269,-38.790918,mcafees mountain,perry's incredible squeeze,4.7,5.0,outdoor,None,None
24,6,40,-78.681269,-38.790918,mcafees mountain,tyler's indubious scramble,6.0,7.0,outdoor,None,None
25,7,1,-77.557827,-37.827663,crozet rocks,zach's hard-ass squeeze,6.0,10.0,outdoor,None,None
26,7,2,-77.557827,-37.827663,crozet rocks,willy's awful ascent,4.3,4.0,outdoor,None,None
27,7,7,-77.557827,-37.827663,crozet rocks,willy's indubious challenge,5.8,9.0,outdoor,None,None
28,7,18,-77.557827,-37.827663,crozet rocks,andrew's terrible hurdle,4.9,7.0,outdoor,None,None
29,7,36,-77.557827,-37.827663,crozet rocks,egret's indubious hike,5.7,8.0,outdoor,None,None
30,8,6,-78.348293,-37.521308,humpback state park,willy's downright-difficult boulder-problem,4.8,7.0,outdoor,None,None
31,8,19,-78.348293,-37.521308,humpback state park,shrimp's tricky hurdle,4.1,5.0,outdoor,None,None
32,8,20,-78.348293,-37.521308,humpback state park,veer's inspiring ascent,6.0,10.0,outdoor,None,None
33,9,16,-77.760933,-38.335759,george washington nature preserve,alyssa's lame-ass squeeze,4.0,8.0,outdoor,more of a steep climb with small amounts of bo...,mantle blue ledge
34,9,29,-77.760933,-38.335759,george washington nature preserve,perry's piece-of-cake ascent,4.1,10.0,outdoor,None,None
35,9,32,-77.760933,-38.335759,george washington nature preserve,willy's lame-ass tumble,5.4,5.0,outdoor,None,None
36,10,8,-78.733620,-38.784492,charlottesville rocks,michael's piece-of-cake hike,5.6,6.0,outdoor,None,None
37,10,17,-78.733620,-38.784492,charlottesville rocks,tyler's hard-ass squeeze,4.2,9.0,outdoor,None,None
38,10,23,-78.733620,-38.784492,charlottesville rocks,abi's piece-of-cake manuever,5.1,7.0,outdoor,None,None
39,10,37,-78.733620,-38.784492,charlottesville rocks,shrimp's indubious boulder-problem,5.1,7.0,outdoor,None,None

In [131]:
# Master Data File of all of the people in our database
command='''
SELECT person_id, CONCAT(f_name,' ',`initial`,' ',l_name) AS 'Full Name',
    exp_lvl IS NOT NULL AS 'is_climber', 
    route_setter.route_setting_exp_lvl IS NOT NULL AS 'is_route_setter', 
    `admin`.has_edit_permission IS NOT NULL AS 'is_admin',
    exp_lvl AS 'Climbing Experience Level', 
    route_setter.route_setting_exp_lvl AS 'Route Setting Experience Level', 
    `admin`.has_edit_permission AS 'Admin Edit Permission'
    
FROM person LEFT JOIN climber USING (person_id) LEFT JOIN route_setter USING (person_id) LEFT JOIN `admin` USING (person_id)
'''
pd.read_sql(command,con=cnx)

,person_id,Full Name,is_climber,is_route_setter,is_admin,Climbing Experience Level,Route Setting Experience Level,Admin Edit Permission
0,1,andy t. lebo,1,0,0,6.0,NaN,NaN
1,2,brooke h. bridges,0,0,1,NaN,NaN,1.0
2,3,darnel i. stanmeyer,1,0,0,8.0,NaN,NaN
3,4,andrew w. dixon,1,1,0,6.0,10.0,NaN
4,5,nano f. parnel,1,0,0,4.0,NaN,NaN
5,6,grace m. bridges,1,0,1,8.0,NaN,1.0
6,7,cozy w. dixon,1,0,1,4.0,NaN,0.0
7,8,grace b. parnel,1,0,0,7.0,NaN,NaN
8,9,rachel l. porter,1,0,0,4.0,NaN,NaN
9,10,brooke f. beesly,1,0,0,5.0,NaN,NaN
10,11,egret e. stewart,1,1,0,7.0,4.0,NaN
11,12,shrimp a. stanmeyer,1,0,0,7.0,NaN,NaN
12,13,alyssa s. scott,1,1,0,5.0,7.0,NaN
13,14,andrew a. patel,0,0,1,NaN,NaN,1.0
14,15,cozy t. stanmeyer,1,0,0,7.0,NaN,NaN

## Associated Entity Join

In [123]:
command = '''
SELECT route.name AS 'route_name', CONCAT(person.f_name, ' ',person.`initial`, ' ',person.l_name) AS 'creator_name'
FROM route_setting JOIN person USING (person_id) JOIN route USING (route_id)
'''
import matplotlib.pyplot as plt
pd.read_sql(command,con=cnx).sample(20)

                       route_name      creator_name
19       michael's awful manuever   andrew w. dixon
41   abi's piece-of-cake manuever   alyssa s. scott
18         alex's terrible tumble   alyssa s. scott
30       tyler's hard-ass squeeze   andrew w. dixon
71     perry's incredible squeeze   alyssa s. scott
65         egret's indubious hike   alyssa s. scott
4          rachel's lame-ass hike   andrew w. dixon
74     tyler's indubious scramble   andrew w. dixon
24       veer's hard-ass manuever   andrew w. dixon
51   perry's piece-of-cake ascent   andrew w. dixon
60     grace's inspiring manuever   andrew w. dixon
46     egret's terrible challenge  egret e. stewart
14   michael's piece-of-cake hike  egret e. stewart
64         egret's indubious hike  egret e. stewart
27         abi's hard-ass squeeze   andrew w. dixon
69     perry's incredible squeeze   andrew w. dixon
16  rachel's piece-of-cake tumble   andrew w. dixon
31       tyler's hard-ass squeeze  egret e. stewart
40   abi's piece-of-cake manuever   andrew w. dixon
38         egret's inspiring hike   alyssa s. scott

In [80]:
# Close your connection 
conn.close()