Code to connect to a SQL server database, create tables and insert records

In [1]:
# Import libraries of interest 
import pandas as pd
import numpy as np 
import numpy.random as rand
import mysql.connector
import random
import pymysql
import sqlalchemy
from sqlalchemy import create_engine

In [3]:
# Enter your password...
password = ...

In [4]:
# For using pd.read_sql
connection = pymysql.connect(
        host = '127.0.0.1',
        port =  3306,
        user = 'root',
        password = password,
        database = 'cville_climbs'
    )
cnx = create_engine('mysql+pymysql://root:'+password+'@localhost:3306/cville_climbs')

In [5]:
# Connect to SQL database on your computer for writing to SQL
conn = mysql.connector.connect(user='root', password=password, host='127.0.0.1', database='cville_climbs')
cursor = conn.cursor() # Enable access to mySQL

MySQL code to set up datatables with keys and constraints

In [396]:
# Remove all tables from database 
destroy_tables = '''
DROP TABLE IF EXISTS 
route, location, log, route_setting, person, route_setter, admin, climber 
'''
cursor.execute(destroy_tables)
conn.commit()

In [397]:
# Create location table 
create_location = '''
CREATE TABLE location 
(location_id INT NOT NULL AUTO_INCREMENT,
 latitude DECIMAL(10,8) NOT NULL,
 longitude DECIMAL(10,8) NOT NULL, 
 name VARCHAR(64) NOT NULL,
 entrance_city VARCHAR(255),
 entrance_zip VARCHAR(255),
 entrance_address VARCHAR(255),
 num_routes INT NOT NULL,
 PRIMARY KEY (location_id),
 CONSTRAINT Check_Location CHECK (-180<longitude AND longitude<180 AND -90<latitude AND latitude<90)
 )
'''
cursor.execute(create_location)
conn.commit()


# Create person table 
create_person = '''
CREATE TABLE person
(person_id INT NOT NULL AUTO_INCREMENT,
 f_name VARCHAR(32) NOT NULL,
 l_name VARCHAR(32) NOT NULL,
 email VARCHAR(64) NOT NULL,
 phone BIGINT(10) NOT NULL,
 type_person enum('RS','C','A') NOT NULL,
 PRIMARY KEY (person_id))
'''
cursor.execute(create_person)
conn.commit()


# Create route table
create_route = '''
CREATE TABLE route 
(route_id INT NOT NULL AUTO_INCREMENT, 
 name VARCHAR(64) NOT NULL, 
 difficulty DECIMAL NOT NULL,
 rating DECIMAL,
 type enum('indoor','outdoor') NOT NULL,
 location_id INT NOT NULL,
 PRIMARY KEY (route_id),
 FOREIGN KEY (location_id) REFERENCES location (location_id), 
 CONSTRAINT check_rating CHECK (rating>=0 AND rating<=10),
 CONSTRAINT check_difficulty CHECK (difficulty>=0 AND difficulty<=6))
'''
cursor.execute(create_route)
conn.commit()


# Create log table 
create_log = '''
CREATE TABLE log 
(log_id INT NOT NULL AUTO_INCREMENT, 
 person_id INT NOT NULL, 
 comment LONGTEXT NOT NULL,
 route_beta LONGTEXT,
 route_id INT NOT NULL,
 PRIMARY KEY (log_id),
 FOREIGN KEY (route_id) REFERENCES route(route_id),
 FOREIGN KEY (person_id) REFERENCES person(person_id))
'''
cursor.execute(create_log)
conn.commit()


# Create route_setting table 
create_route_setting = '''
CREATE TABLE route_setting
(route_id INT NOT NULL,
 person_id INT NOT NULL,
 PRIMARY KEY (route_id, person_id),
 FOREIGN KEY (route_id) REFERENCES route(route_id),
 FOREIGN KEY (person_id) REFERENCES person(person_id))
'''
cursor.execute(create_route_setting)
conn.commit()


# Create route setter table
create_route_setter = '''
CREATE TABLE route_setter
(person_id INT NOT NULL,
 n_routes_created INT NOT NULL,
 route_setting_exp_lvl DECIMAL NOT NULL,
 certifications LONGTEXT,
 PRIMARY KEY (person_id),
 FOREIGN KEY (person_id) REFERENCES person (person_id))
'''
cursor.execute(create_route_setter)
conn.commit()


# Create climber table 
create_climber = '''
CREATE TABLE climber
(person_id INT NOT NULL,
 exp_lvl DECIMAL NOT NULL, 
 routes_attempted INT NOT NULL,
 is_team_member BOOLEAN NOT NULL,
 PRIMARY KEY (person_id),
 FOREIGN KEY (person_id) REFERENCES person (person_id))
'''
cursor.execute(create_climber)
conn.commit()


# Create administrator table 
create_admin = '''
CREATE TABLE admin
(person_id INT NOT NULL,
 has_edit_permission BOOLEAN NOT NULL, 
 has_delete_permission BOOLEAN NOT NULL, 
 has_create_permission BOOLEAN NOT NULL, 
 is_owner BOOLEAN NOT NULL,
 PRIMARY KEY (person_id),
 FOREIGN KEY (person_id) REFERENCES person (person_id))
'''
cursor.execute(create_admin)
conn.commit()

Generate data to populate your SQL database to perfrom queries on it

In [398]:
# Function to generate climb names 
first_name = ['willy','ron','shrimp','nano','egret','cozy','perry',
              'darnel','michael','grace','zach','veer','tyler','sherry',
              'rachel','andrew','abi','alyssa','brooke','alex','andy']
last_name = ['parnel','patel','clift','key','dixon','vincil',
             'lloyd','coochie','poochie','poo','bridges','stanmeyer',
             'porter','kelly','lebo','stewart']
adj = ['indubious','scary-ass','incredible','lame-ass','hard-ass',
       'slap-ass','cringy','timid','terrible','inspiring','awful',
       'tricky','downright-difficult']
noun = ['bluff','squeeze','tumble','hurdle','boulder-problem',
         'challenge','manuever','scramble','hike','ascent']
email = ['hotmail','gmail','yahoo','b2x.online']
parks = ['blueridge','appalachain','shenendoah','smoky','george washington',
         'montauk','luray','crozet','charlottesville','old rag','humpback','mcafees']
park_2 = ['national park', 'state park', 'nature preserve', 'reservoir', 'park', 
          'mountain', 'rocks', 'preserve', 'wildlife preserve']
list_names = [first_name, last_name]
list_climbs = [first_name, adj, noun]

# Returns a string of climb names 
def generate_climbs():
    name = ''
    i = 0
    for sublist in list_climbs:
        idx = rand.randint(0,len(sublist))
        if i==0:
            name+=sublist[idx]+"'s"
        else: 
            name+=' '+sublist[idx]
        i+=1
    return name

# Returns a tuple of first and last name 
def generate_person():
    name = []
    for sublist in list_names:
        idx = rand.randint(0,len(sublist))
        name.append(sublist[idx])
    return name[0], name[1]

# Return email address 
def generate_email(f_name,l_name):
    idx = rand.randint(0, len(email))
    address = email[idx]
    return f_name+'_'+l_name+'@'+address+'.com'
    
# Return phone number
def generate_phone(base=434):
    return int(str(base)+str(rand.randint(1000000,9999999)))

# Generate Location coordinates 
def generate_coords():
    lat = random.uniform(-77.5,-79.5)
    long = random.uniform(-37,-39)
    return lat, long

# Generate a location name
def generate_location_names():
    return parks[random.randint(0,len(parks)-1)] +' '+ park_2[random.randint(0,len(park_2)-1)]

In [399]:
# Set hyperparameters for data generation 
n_obs_people = 15
n_obs_routes = 20
n_obs_location = 10

In [400]:
# GENERATE PEOPLE DATA 
people_dataframe = pd.read_sql('person', con=cnx)
for i in range(n_obs_people):
    f,l =generate_person()
    mail=generate_email(f,l)
    phone=generate_phone()
    type_person=rand.choice(['RS','C','A'],p=[.3,.6,.1])
    vals = {'person_id':i+1,'f_name':f, 'l_name':l, 'email':mail, 'phone':phone, 'type_person':type_person}
    people_dataframe = people_dataframe.append(vals, ignore_index=True)

# GENERATE LOCATIONS DATA 
location_dataframe = pd.read_sql('location', con=cnx)
for i in range(n_obs_location):
    lat, long = generate_coords()
    num_routes = route_dataframe
    vals = {'location_id':i+1, 'latitude':lat,'longitude':long,'name':generate_location_names(),'entrance_city':np.nan,
           'entrance_zip':np.nan, 'entrance_address':np.nan,'num_routes':np.nan}
    location_dataframe = location_dataframe.append(vals, ignore_index=True)

# GENERATE ROUTE DATA 
route_dataframe = pd.read_sql('route', con=cnx)
for i in range(n_obs_routes):
    climb_diff = random.choice(np.linspace(4,6,21))
    climb_rate = random.choice(np.linspace(4,10,13))
    location_id = random.choice(location_dataframe['location_id'].to_list())
    vals = {'route_id':i+1, 'name':generate_climbs(),'difficulty':climb_diff, 'rating':climb_rate, 
           'type':'outdoor', 'location_id':location_id}
    route_dataframe = route_dataframe.append(vals, ignore_index=True)
def try_location(key):
    data = route_dataframe.groupby('location_id').apply(len).to_dict()
    a = 0
    try:
        data[key]
    except:
        pass
    else: 
        a = data[key]
    return a
location_dataframe['num_routes'] = location_dataframe.location_id.apply(try_location)

# GENERATE ROUTE_SETTING DATA 
route_setting_dataframe = pd.read_sql('route_setting', con=cnx)
num_setters = sum(people_dataframe.type_person=='RS')
for i in range(len(route_dataframe)):
    randn_setters = random.randint(1,num_setters)
    person_ids = rand.choice(people_dataframe.loc[people_dataframe['type_person']=='RS','person_id'].to_list(),randn_setters, replace=False)
    for j in range(randn_setters):
        person = person_ids[j]
        route = route_dataframe['route_id'].iloc[i]
        vals = {'route_id':route,'person_id':person}
        route_setting_dataframe = route_setting_dataframe.append(vals, ignore_index=True)
        
# Generate ROUTE_SETTER table 
route_setter_dataframe = pd.read_sql('route_setter', con=cnx)
person_ids = route_setting_dataframe.groupby('person_id').apply(len).index.to_list()
n_routes = route_setting_dataframe.groupby('person_id').apply(len).to_list()
for i in range(len(person_ids)):
    vals = {'person_id':person_ids[i],
            'n_routes_created':n_routes[i],
            'route_setting_exp_lvl':rand.randint(4,11)}
    route_setter_dataframe = route_setter_dataframe.append(vals, ignore_index=True)

# Generate CLIMBER Dataframe 
climber_dataframe = pd.read_sql('climber', con=cnx)
climbers_list = people_dataframe.loc[people_dataframe['type_person']=='C','person_id'].to_list()
for i in range(len(climbers_list)):
    vals = {'person_id':climbers_list[i],
            'exp_lvl':round(3+rand.uniform()*7,1),
            'routes_attempted':rand.randint(0,len(route_dataframe)), 
            'is_team_member':rand.choice([True,False],p=[.7,.3])}
    climber_dataframe = climber_dataframe.append(vals, ignore_index=True)

# Generate ADMIN table 
admin_dataframe = pd.read_sql('admin', con=cnx)
admin_list = people_dataframe.loc[people_dataframe['type_person']=='A','person_id'].to_list()
for i in range(len(admin_list)):
    vals = {'person_id':admin_list[i],
            'has_edit_permission':rand.choice([True,False],p=[.9,.1]),
            'has_delete_permission':rand.choice([True,False],p=[.9,.1]),
            'has_create_permission':rand.choice([True,False],p=[.9,.1]),
            'is_owner':rand.choice([True,False],p=[.1,.9])}
    admin_dataframe = admin_dataframe.append(vals, ignore_index=True)
  
# Generate LOG table
n_logs = 5
log_dataframe = pd.read_sql('log', con=cnx)
log_dataframe['log_id'] = [1,2,3,4,5]
log_dataframe['person_id'] = rand.choice(climber_dataframe.loc[climber_dataframe['routes_attempted']!=0,'person_id'].to_list(),n_logs)
log_dataframe['comment'] = ['lots of fun, very easy course',
                             'hella dangerous without proper equipment',
                             'name is deceptive: easiest course at blueridge',
                             'too easy not worth the drive',
                             'more of a steep climb with small amounts of bouldering']
log_dataframe['route_beta'] = ['toe hook on sharp ledge marked with chalk',
                               'dyno from hold marked 2 onto blue overhang marked 5',
                               'use the crack to the left of red marker as primary hand hold',
                               'karate kick over between boulders',
                               'mantle blue ledge']
log_dataframe['route_id'] = rand.choice(route_dataframe.loc[:,'route_id'].to_list(),n_logs)

In [401]:
# Insert all people records
for i in range(len(people_dataframe)):
    row_entry = str(people_dataframe.iloc[i].to_list()[1:]).replace("]",")").replace("[","(")
    columns = str(people_dataframe.columns[1:].to_list()).replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO person "+columns+" VALUES "+row_entry
    print(command)
    cursor.execute(command)
    conn.commit()

INSERT INTO person (f_name, l_name, email, phone, type_person) VALUES ('willy', 'clift', 'willy_clift@hotmail.com', 4343363616, 'RS')
INSERT INTO person (f_name, l_name, email, phone, type_person) VALUES ('willy', 'poo', 'willy_poo@hotmail.com', 4347878439, 'C')
INSERT INTO person (f_name, l_name, email, phone, type_person) VALUES ('veer', 'parnel', 'veer_parnel@gmail.com', 4346861093, 'C')
INSERT INTO person (f_name, l_name, email, phone, type_person) VALUES ('veer', 'poo', 'veer_poo@gmail.com', 4342262055, 'C')
INSERT INTO person (f_name, l_name, email, phone, type_person) VALUES ('tyler', 'stanmeyer', 'tyler_stanmeyer@yahoo.com', 4344353203, 'A')
INSERT INTO person (f_name, l_name, email, phone, type_person) VALUES ('grace', 'bridges', 'grace_bridges@b2x.online.com', 4345691577, 'RS')
INSERT INTO person (f_name, l_name, email, phone, type_person) VALUES ('grace', 'poo', 'grace_poo@b2x.online.com', 4347362781, 'RS')
INSERT INTO person (f_name, l_name, email, phone, type_person) VALUES ('darnel', 'stewart', 'darnel_stewart@b2x.online.com', 4342374712, 'C')
INSERT INTO person (f_name, l_name, email, phone, type_person) VALUES ('brooke', 'poo', 'brooke_poo@b2x.online.com', 4347624230, 'RS')
INSERT INTO person (f_name, l_name, email, phone, type_person) VALUES ('egret', 'parnel', 'egret_parnel@b2x.online.com', 4347531392, 'RS')
INSERT INTO person (f_name, l_name, email, phone, type_person) VALUES ('andy', 'patel', 'andy_patel@b2x.online.com', 4346770984, 'RS')
INSERT INTO person (f_name, l_name, email, phone, type_person) VALUES ('willy', 'coochie', 'willy_coochie@gmail.com', 4341614521, 'RS')
INSERT INTO person (f_name, l_name, email, phone, type_person) VALUES ('abi', 'stewart', 'abi_stewart@yahoo.com', 4347286164, 'C')
INSERT INTO person (f_name, l_name, email, phone, type_person) VALUES ('darnel', 'dixon', 'darnel_dixon@gmail.com', 4341277858, 'C')
INSERT INTO person (f_name, l_name, email, phone, type_person) VALUES ('alex', 'stewart', 'alex_stewart@b2x.online.com', 4345434947, 'C')

In [402]:
# Insert all location records 
for i in range(len(location_dataframe)):
    row_entry = str(location_dataframe.iloc[i].to_list()[1:]).replace("]",")").replace("[","(").replace(' nan,','')
    columns = str(['latitude', 'longitude', 'name', 'num_routes'])\
                .replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO location "+columns+" VALUES "+row_entry
    print(command)
    cursor.execute(command)
    conn.commit()

INSERT INTO location (latitude, longitude, name, num_routes) VALUES (-79.4199497186194, -38.443780776447994, 'shenendoah park', 1)
INSERT INTO location (latitude, longitude, name, num_routes) VALUES (-77.82843767419315, -37.25820293516932, 'humpback reservoir', 1)
INSERT INTO location (latitude, longitude, name, num_routes) VALUES (-79.29721900581325, -37.05595846028536, 'mcafees preserve', 0)
INSERT INTO location (latitude, longitude, name, num_routes) VALUES (-78.49264875117764, -38.47101171176436, 'crozet reservoir', 4)
INSERT INTO location (latitude, longitude, name, num_routes) VALUES (-79.03673761918004, -37.55706221086253, 'smoky mountain', 2)
INSERT INTO location (latitude, longitude, name, num_routes) VALUES (-77.99251345740308, -37.077495894131026, 'blueridge mountain', 4)
INSERT INTO location (latitude, longitude, name, num_routes) VALUES (-78.70516557811051, -38.237322575591506, 'old rag nature preserve', 2)
INSERT INTO location (latitude, longitude, name, num_routes) VALUES (-77.98118518174913, -38.88659743373734, 'old rag park', 1)
INSERT INTO location (latitude, longitude, name, num_routes) VALUES (-79.1033433709812, -37.37196724887642, 'smoky nature preserve', 1)
INSERT INTO location (latitude, longitude, name, num_routes) VALUES (-78.67750927603635, -37.327854076207615, 'charlottesville mountain', 4)

In [403]:
# Insert all route data 
for i in range(len(route_dataframe)):
    row_entry = str(route_dataframe.iloc[i].to_list()[1:]).replace("]",")").replace("[","(")
    columns = str(['name', 'difficulty', 'rating', 'type', 'location_id'])\
                .replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO route "+columns+" VALUES "+row_entry
    print(command)
    cursor.execute(command)
    conn.commit()

INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("nano's incredible ascent", 6.0, 7.5, 'outdoor', 6)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("nano's slap-ass scramble", 4.2, 4.5, 'outdoor', 4)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("cozy's incredible squeeze", 5.8, 7.0, 'outdoor', 10)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("perry's cringy hike", 5.8, 6.0, 'outdoor', 10)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("andrew's scary-ass tumble", 5.1, 4.0, 'outdoor', 4)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("darnel's indubious boulder-problem", 5.4, 5.5, 'outdoor', 1)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("cozy's terrible hurdle", 5.5, 8.0, 'outdoor', 10)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("egret's terrible hike", 4.1, 5.0, 'outdoor', 4)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("zach's terrible tumble", 4.9, 9.5, 'outdoor', 5)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("andy's terrible ascent", 5.5, 7.5, 'outdoor', 6)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("ron's inspiring ascent", 6.0, 9.0, 'outdoor', 7)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("zach's incredible challenge", 5.4, 9.0, 'outdoor', 5)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("egret's downright-difficult hike", 5.5, 9.0, 'outdoor', 8)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("grace's hard-ass tumble", 5.6, 9.5, 'outdoor', 4)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("perry's awful hurdle", 4.8, 6.5, 'outdoor', 9)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("veer's lame-ass bluff", 4.9, 6.0, 'outdoor', 6)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("darnel's incredible scramble", 5.7, 7.5, 'outdoor', 10)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("shrimp's inspiring bluff", 4.1, 5.5, 'outdoor', 6)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("shrimp's indubious hurdle", 4.8, 8.5, 'outdoor', 7)
INSERT INTO route (name, difficulty, rating, type, location_id) VALUES ("grace's slap-ass tumble", 4.7, 9.0, 'outdoor', 2)

In [404]:
# Insert all route_setter data 
for i in range(len(route_setting_dataframe)):
    row_entry = str(route_setting_dataframe.iloc[i].to_list()).replace("]",")").replace("[","(")
    columns = str(['route_id','person_id'])\
                .replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO route_setting "+columns+" VALUES "+row_entry
    print(command)
    cursor.execute(command)
    conn.commit()

INSERT INTO route_setting (route_id, person_id) VALUES (1, 9)
INSERT INTO route_setting (route_id, person_id) VALUES (2, 9)
INSERT INTO route_setting (route_id, person_id) VALUES (2, 10)
INSERT INTO route_setting (route_id, person_id) VALUES (2, 11)
INSERT INTO route_setting (route_id, person_id) VALUES (3, 1)
INSERT INTO route_setting (route_id, person_id) VALUES (3, 9)
INSERT INTO route_setting (route_id, person_id) VALUES (3, 12)
INSERT INTO route_setting (route_id, person_id) VALUES (3, 10)
INSERT INTO route_setting (route_id, person_id) VALUES (3, 7)
INSERT INTO route_setting (route_id, person_id) VALUES (3, 6)
INSERT INTO route_setting (route_id, person_id) VALUES (3, 11)
INSERT INTO route_setting (route_id, person_id) VALUES (4, 7)
INSERT INTO route_setting (route_id, person_id) VALUES (5, 12)
INSERT INTO route_setting (route_id, person_id) VALUES (5, 7)
INSERT INTO route_setting (route_id, person_id) VALUES (5, 11)
INSERT INTO route_setting (route_id, person_id) VALUES (5, 6)
INSERT INTO route_setting (route_id, person_id) VALUES (5, 9)
INSERT INTO route_setting (route_id, person_id) VALUES (6, 11)
INSERT INTO route_setting (route_id, person_id) VALUES (6, 7)
INSERT INTO route_setting (route_id, person_id) VALUES (6, 6)
INSERT INTO route_setting (route_id, person_id) VALUES (6, 10)
INSERT INTO route_setting (route_id, person_id) VALUES (6, 9)
INSERT INTO route_setting (route_id, person_id) VALUES (6, 12)
INSERT INTO route_setting (route_id, person_id) VALUES (7, 12)
INSERT INTO route_setting (route_id, person_id) VALUES (7, 10)
INSERT INTO route_setting (route_id, person_id) VALUES (7, 6)
INSERT INTO route_setting (route_id, person_id) VALUES (7, 9)
INSERT INTO route_setting (route_id, person_id) VALUES (7, 1)
INSERT INTO route_setting (route_id, person_id) VALUES (7, 11)
INSERT INTO route_setting (route_id, person_id) VALUES (7, 7)
INSERT INTO route_setting (route_id, person_id) VALUES (8, 12)
INSERT INTO route_setting (route_id, person_id) VALUES (8, 7)
INSERT INTO route_setting (route_id, person_id) VALUES (9, 12)
INSERT INTO route_setting (route_id, person_id) VALUES (9, 11)
INSERT INTO route_setting (route_id, person_id) VALUES (9, 6)
INSERT INTO route_setting (route_id, person_id) VALUES (9, 9)
INSERT INTO route_setting (route_id, person_id) VALUES (9, 1)
INSERT INTO route_setting (route_id, person_id) VALUES (10, 12)
INSERT INTO route_setting (route_id, person_id) VALUES (10, 10)
INSERT INTO route_setting (route_id, person_id) VALUES (10, 1)
INSERT INTO route_setting (route_id, person_id) VALUES (11, 1)
INSERT INTO route_setting (route_id, person_id) VALUES (11, 7)
INSERT INTO route_setting (route_id, person_id) VALUES (11, 11)
INSERT INTO route_setting (route_id, person_id) VALUES (12, 11)
INSERT INTO route_setting (route_id, person_id) VALUES (12, 12)
INSERT INTO route_setting (route_id, person_id) VALUES (13, 9)
INSERT INTO route_setting (route_id, person_id) VALUES (13, 1)
INSERT INTO route_setting (route_id, person_id) VALUES (13, 10)
INSERT INTO route_setting (route_id, person_id) VALUES (13, 6)
INSERT INTO route_setting (route_id, person_id) VALUES (14, 7)
INSERT INTO route_setting (route_id, person_id) VALUES (14, 11)
INSERT INTO route_setting (route_id, person_id) VALUES (14, 12)
INSERT INTO route_setting (route_id, person_id) VALUES (14, 1)
INSERT INTO route_setting (route_id, person_id) VALUES (15, 10)
INSERT INTO route_setting (route_id, person_id) VALUES (15, 1)
INSERT INTO route_setting (route_id, person_id) VALUES (15, 7)
INSERT INTO route_setting (route_id, person_id) VALUES (15, 9)
INSERT INTO route_setting (route_id, person_id) VALUES (15, 6)
INSERT INTO route_setting (route_id, person_id) VALUES (15, 11)
INSERT INTO route_setting (route_id, person_id) VALUES (16, 6)
INSERT INTO route_setting (route_id, person_id) VALUES (16, 9)
INSERT INTO route_setting (route_id, person_id) VALUES (16, 10)
INSERT INTO route_setting (route_id, person_id) VALUES (16, 7)
INSERT INTO route_setting (route_id, person_id) VALUES (16, 11)
INSERT INTO route_setting (route_id, person_id) VALUES (16, 12)
INSERT INTO route_setting (route_id, person_id) VALUES (17, 6)
INSERT INTO route_setting (route_id, person_id) VALUES (17, 12)
INSERT INTO route_setting (route_id, person_id) VALUES (18, 1)
INSERT INTO route_setting (route_id, person_id) VALUES (18, 12)
INSERT INTO route_setting (route_id, person_id) VALUES (18, 10)
INSERT INTO route_setting (route_id, person_id) VALUES (18, 6)
INSERT INTO route_setting (route_id, person_id) VALUES (19, 12)
INSERT INTO route_setting (route_id, person_id) VALUES (19, 7)
INSERT INTO route_setting (route_id, person_id) VALUES (19, 10)
INSERT INTO route_setting (route_id, person_id) VALUES (19, 1)
INSERT INTO route_setting (route_id, person_id) VALUES (20, 6)
INSERT INTO route_setting (route_id, person_id) VALUES (20, 11)
INSERT INTO route_setting (route_id, person_id) VALUES (20, 7)

In [405]:
# Insert all route_setting data 
for i in range(len(route_setter_dataframe)):
    row_entry = str(route_setter_dataframe.iloc[i].to_list()).replace("]",")").replace("[","(").replace('nan','NULL')
    columns = str(['person_id','n_routes_created','route_setting_exp_lvl','certifications'])\
                .replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO route_setter "+columns+" VALUES "+row_entry
    print(command)
    cursor.execute(command)
    conn.commit()

INSERT INTO route_setter (person_id, n_routes_created, route_setting_exp_lvl, certifications) VALUES (1.0, 10.0, 8.0, NULL)
INSERT INTO route_setter (person_id, n_routes_created, route_setting_exp_lvl, certifications) VALUES (6.0, 11.0, 7.0, NULL)
INSERT INTO route_setter (person_id, n_routes_created, route_setting_exp_lvl, certifications) VALUES (7.0, 12.0, 8.0, NULL)
INSERT INTO route_setter (person_id, n_routes_created, route_setting_exp_lvl, certifications) VALUES (9.0, 10.0, 6.0, NULL)
INSERT INTO route_setter (person_id, n_routes_created, route_setting_exp_lvl, certifications) VALUES (10.0, 10.0, 7.0, NULL)
INSERT INTO route_setter (person_id, n_routes_created, route_setting_exp_lvl, certifications) VALUES (11.0, 12.0, 5.0, NULL)
INSERT INTO route_setter (person_id, n_routes_created, route_setting_exp_lvl, certifications) VALUES (12.0, 13.0, 10.0, NULL)

In [406]:
# Insert all climber data 
for i in range(len(climber_dataframe)):
    row_entry = str(climber_dataframe.iloc[i].to_list()).replace("]",")").replace("[","(").replace('nan','NULL')
    columns = str(['person_id','exp_lvl','routes_attempted','is_team_member'])\
                .replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO climber "+columns+" VALUES "+row_entry
    print(command)
    cursor.execute(command)
    conn.commit()

INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (2.0, 8.8, 6.0, 1.0)
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (3.0, 7.1, 16.0, 0.0)
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (4.0, 5.8, 3.0, 0.0)
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (8.0, 4.8, 0.0, 1.0)
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (13.0, 6.3, 0.0, 1.0)
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (14.0, 9.3, 8.0, 1.0)
INSERT INTO climber (person_id, exp_lvl, routes_attempted, is_team_member) VALUES (15.0, 6.2, 19.0, 0.0)

In [407]:
# Insert all admin data  
for i in range(len(admin_dataframe)):
    row_entry = str(admin_dataframe.iloc[i].to_list()).replace("]",")").replace("[","(").replace('nan','NULL')
    columns = str(['person_id','has_edit_permission','has_delete_permission','has_create_permission','is_owner'])\
                .replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO admin "+columns+" VALUES "+row_entry
    print(command)    
    cursor.execute(command)
    conn.commit()

INSERT INTO admin (person_id, has_edit_permission, has_delete_permission, has_create_permission, is_owner) VALUES (5, 1, 1, 1, 0)

In [408]:
# Insert all log data 
for i in range(len(log_dataframe)):
    row_entry = str(log_dataframe.iloc[i].to_list()[1:]).replace("]",")").replace("[","(").replace('nan','NULL')
    columns = str(['person_id','comment','route_beta','route_id'])\
                .replace("]",")").replace("[","(").replace("'","")
    command = "INSERT INTO log "+columns+" VALUES "+row_entry
    print(command)    
    cursor.execute(command)
    conn.commit()

INSERT INTO log (person_id, comment, route_beta, route_id) VALUES (2, 'lots of fun, very easy course', 'toe hook on sharp ledge marked with chalk', 18)
INSERT INTO log (person_id, comment, route_beta, route_id) VALUES (15, 'hella dangerous without proper equipment', 'dyno from hold marked 2 onto blue overhang marked 5', 14)
INSERT INTO log (person_id, comment, route_beta, route_id) VALUES (2, 'name is deceptive: easiest course at blueridge', 'use the crack to the left of red marker as primary hand hold', 1)
INSERT INTO log (person_id, comment, route_beta, route_id) VALUES (3, 'too easy not worth the drive', 'karate kick over between boulders', 4)
INSERT INTO log (person_id, comment, route_beta, route_id) VALUES (15, 'more of a steep climb with small amounts of bouldering', 'mantle blue ledge', 5)

In [ ]:
# Close your connection 
conn.close()