Code to connect to a SQL server database

In [1]:
# Import libraries of interest 
import pandas as pd
import numpy as np 
import mysql.connector

In [2]:
# Enter your password...
password = ...

In [7]:
# Connect to SQL database on your computer 
conn = mysql.connector.connect(user='root', password=password, host='127.0.0.1', database='cville_climbs')
cursor = conn.cursor() # Enable access to mySQL

In [23]:
# Create route table
create_route = '''
CREATE TABLE route 
(route_id INT AUTO_INCREMENT PRIMARY KEY, 
 name VARCHAR(32), 
 difficulty DECIMAL,
 rating DECIMAL,
 type VARCHAR(10),
 person_id INT,
 location_id INT)
'''
cursor.execute(create_route)
conn.commit()


# Create location table 
create_location = '''
CREATE TABLE location 
(location_id INT AUTO_INCREMENT PRIMARY KEY, 
 latitude DECIMAL,
 longitude DECIMAL, 
 name VARCHAR(32),
 entrance_city VARCHAR(255),
 entrance_zip VARCHAR(255),
 entrance_address VARCHAR(255),
 num_routes INT)
'''
cursor.execute(create_location)
conn.commit()


# Create log table 
create_log = '''
CREATE TABLE log 
(log_id INT AUTO_INCREMENT PRIMARY KEY, 
 person_id INT, 
 comment LONGTEXT,
 route_beta LONGTEXT,
 route_id INT)
'''
cursor.execute(create_log)
conn.commit()


# Create route_setting table 
create_route_setting = '''
CREATE TABLE route_setting
(route_id INT,
person_id INT)
'''
cursor.execute(create_log)
conn.commit()


# Create person table 



# conn.close()

In [22]:
# Remove all tables
destroy_tables = '''
DROP TABLE IF EXISTS 
route, location, log, route_setting 
'''
cursor.execute(destroy_tables)
conn.commit()